@charset "UTF-8";

/* 
以下のCSSは「リセットCSS」といいます。
各ブラウザには最初から一部CSSの値が設定されており、それをリセットして見栄えを統一するために使われます。
コピペで自身のCSSファイルに貼っておいてください。
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* リセットCSS おわり */

html {
  font-size: 100%;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
	max-width: 100%;
}

/* ヘッダー */
.cover {
  background-size: cover;
  height: 100%;
  color: #fff;
}

.cover_Header {
  background-image: url(../img/kv.jpg);
}

.main_Logo {
  margin: 12px 40px;
}

.main_Header {
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,.5);
}

.main_Nav {
	font-size: 18px;
  margin-left: 45px;
}

.main_Nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.main_Button {
  font-size: 12px;
  margin-left: auto;
  color: #fff;
}

.button_Reseve {
  background-color: #78781E;
  padding: 10px 20px;
}

.button_Calendar {
  border: solid 1.5px #fff;
  padding: 8px 4px;
  margin: 0 40px 0 15px;
}

/* メイン */
.main_Cover {
  background-image: url(../img/main_bg.jpg);
  background-size: cover;
  padding: 296px 0 100px 0;
  color: #fff;
}

.main_Cover h1 {
  writing-mode: vertical-rl;          /* 縦書き */
  width: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 24px;
}

.main_Cover h2 {
  padding: 64px 0;
  font-size: small;
  line-height: 40px;
  text-align: center;
}

.main_Image {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.main_Movie {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 350px;
  text-align: center;
  margin: 100px auto 0 auto;
}

.main_Movie iframe {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
}

/* お知らせ */
.info {
  background-color: #fff;
  color: #000;
  padding: 100px 140px;
}

.info h2 {
  text-align: center;
}

.info h3 {
  color: #828282;
  text-align: center;
  letter-spacing: 4px;
}

.info_List {
  margin-top: 40px;
}

.info_List_Item {
  padding: 24px 0;
  border-bottom: 1px solid #CCCCCC;
}

.info_List_Item:first-child {      /* 先頭（New＆Information下）の傍線 */
  border-top: 1px solid #CCCCCC;
}

.info_List_Item a {
 display: flex;
}

.info_Icon {
  background: #78781E;
  color: #FFFFFF;
  text-align: center;
  width: 112px;
  letter-spacing: 4px;
}

.info_List_Date {
  color: #888888;
  margin: 0 48px;
}

.info_All {
  color: #868686;
  display: flex;
  padding: 15px;
  justify-content: flex-end;
}

/* プラン */
.plan_Main {
  background-color: #E8E7E2;
  color: #000;
  text-align: center;
  padding: 100px 0;
}

.plan_Main h3{
  color: #828282;
  font-size: 90%;
  letter-spacing: 4px;
}

.paln_Info {
  display: flex;
  justify-content: center;
  font-size: 80%;
}

.plan_Detail {
  background-color: #fff;
  text-align: left;
  margin: 50px 20px;
  width: 30%;
  padding-bottom: 60px;
}

.plan_Detail img {
  width: 100%;
}

.plan_Detail p {
  margin: 10px;
}

.plan_Title {
  color: #78781E;
  letter-spacing: 3px;
  font-size: 13px;
}

.plan_Comment {
  text-align: center;
}

.p1 {
  color: #78781E;
  padding: 16px;
  margin: 0 160px;
  border-bottom: 1px solid #000000;
}

.p2 {
  font-size: 90%;
  margin-top: 48px;
}

.p3 {
  font-size: 65%;
  text-align: left;
  display: inline-block;        /* テキスト中央寄せで左揃え */
  margin-top: 48px;
}

/* リンク */
.link_footer {
  background-color: #FFFFFF;
}

.link {
  background-size: cover;
  color: #FFFFFF;
  text-align: center;
  padding: 160px;
  margin: 16px 0;
  max-width: 100%;
  max-height: 100%;
}

.link h2 {
  font-size: 70%;
  letter-spacing: 4px;
}

.link p {
  margin-top: 48px;
}
.nature {
  background-image: url(../img/nature.jpg);
}

.room {
  background-image: url(../img/room.jpg);
}

.food {
  background-image: url(../img/food.jpg);
}

.onsen {
  background-image: url(../img/onsen.jpg);
}

.map {
  position: relative;
  padding-bottom: 382px;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}

.button_A {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.access {
  background-color: #BBBBBB;
  padding: 19.5px;
}

.googleMap {
  background-color: #000000;
  margin-left: 20px;
  padding: 19.5px 56px;
}

.footer{
  margin: 164px 77px 162px 104px
}

.footer_Image {
  display: flex;
  justify-content: center;
}

.footer_Logo {
  font-size: 14px;
  margin: 0 auto;
  align-content: center;
}

.footer_Nav {
  color: #222222;
  font-size: 14px;
}

.footer_Nav ul {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.footer_Nav li {
  border-right: solid 1px #dddddd;
  padding: 0 40px;
}

.footer_Nav li:last-child {
  border-right: none; /* 右側の線を消す */
}

.footer_Link {
  display: flex;
  margin-top: 55px;
}

.footer_Link a {
  margin-left: 20px;
}

.copyRight {
  text-align: center;
  margin-top: 65px;
}
/* 
CSSは各要素をデザインツール（figma）に沿って、
サイズや余白を調整していきます。流れは口頭で説明できればと！

▼ここからCSSの解説

【ヘッダー要素の調整】
・高さを指定
・背景色を黒に指定
・背景色の透明度をデザイン通りに指定。
・左右のパディングを指定

【ロゴの調整】
・サイズを指定

【ナビゲーションの調整】
・フォントサイズを指定
・テキスト同士を横並びに
・テキスト間の余白調整
・位置をロゴの右隣へ移動
・ロゴとの余白調整

【ボタンの調整】
・フォントサイズを指定
・各ボタンにパディングを指定
・ご予約ボタンに背景色をデザイン通りに指定
・空室カレンダーボタンに枠線を指定
・ボタン間の余白を調整

【全体の調整】
・各要素の位置を上下中央に指定（※ちょい難しいです）

*/

